@use "../utils/mixins" as mixins;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    @include mixins.flex($flow: column nowrap);
}

li {
    @include mixins.flex($flow: column nowrap);
    list-style-type: none;
}