@use "../utils/mixins" as mixins;

body {
    display: flex;
    flex: initial;
    flex-direction: column;
    align-items: center;
}

a, ul {
    @include mixins.flex($flow: column nowrap);
    width: 100px;
}

li {
    @include mixins.flex($flow: column nowrap);
    list-style-type: none;
}

// img {
//     height: 100px;
//     min-width: calc(336/380);
// }