@use "../utils/mixins";
@use "../utils/variables" as var;

ul > li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p, ul {
    margin: 0;
    padding: 1rem;
}

// Tous les titres avec un padding et sans marge par defaut
h {
    @for $i from 1 through 4 {
        &#{$i} {
            margin: 0;
            padding: 1rem;
        }
    }
}

// Par defaut, tous les elements, sauf les images, occupent 100% de la largeur
@include mixins.set-property-for-all(var.$structure, 'image') {
    @include mixins.largeur();
}

@include mixins.set-property-for-all(var.$structure, "liste") {
    @include mixins.flex-elem();
}

@include mixins.set-property("footer") {
    @include mixins.flex-elem($align-items: flex-start);
};

@include mixins.set-property("image") {
    border-radius: 2rem;
}

@include mixins.set-property("titre") {
    font-weight: bold;
}