@mixin degrade-icone-mx ($background) {
    @keyframes degrade-icone-kf {
        to {
            font-weight: 900;
            background: $background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
};
