$colors: (
    "standard": white,
    "primary":#9356DC,
    "secondary":#FF79DA,
    "tertiary":#99E2D0,
    "light-secondary":#f5EDFF,
    "light-black":#EAEAEA,
    "light-grey":#F6F6F6,
    "dark":#353535,
    "grey-shade": #dbdbdb
);

$fonts: (
    "general": (
        "name": "Roboto",
        "weight": "thin" "light" "regular" "medium" "bold" "black",
        "style": "normal" "italic"
    ),
    "special": (
        "name": "Shrikhand"
    )
);

$special-font: "titre" "logo";
$other: "body";

$structure: (
    "header": (),
    "logo": (),
    "main": (),
    "localisation": (
        "titre"
    ),
    "intro": (
        "titre",
        "bouton"
    ),
    "presentation": (
        "titre",
        "liste",
        "item",
        "puce"
    ),
    "restaurants": (
        "titre",
        "liste"
    ),
    "carte": (
        "lien",
        "image",
        "titre",
        "lieu",
        "description",
        "wrapper",
        "favori"
    ),
    "footer": (),
    "sitemap": (
        "liste",
        "item"
    )
);

$modifiers: (
    "couleur-inverse"
);

$padding-vertical: 1rem 0;
$padding-horizontal: 0 1rem;

$padding: (
    "main": $padding-vertical,
    "main-items": $padding-horizontal,
    "svg": 0 1rem 0 .5rem,
    "titre": $padding-vertical,
    "logo": $padding-vertical,
    "blocs": $padding-vertical,
    "localisation": $padding-vertical,
    "list-item": $padding-vertical
);

$height: (
    "list-item": 2rem, 
);

$width: (
    "largeur-page": 100%,
);

$border-radius: (
    "standard": 2rem
);

$list-style-type: (
    "list": decimal
)