@use "../utils/var";
@use "../components/logo";

.footer {
    background-color: map-get($map: var.$colors, $key: "dark");
    color: map-get($map: var.$colors, $key: "standard");
    padding: var.$padding;
    display: flex;
    flex-flow: column nowrap;
    &__logo {
        @include logo.standard;
    }
}