@use "../utils/var";
@use "../components/logo";
@use "../components/bouton";
@use "../components/image";

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__logo {
        @include logo.standard;
        flex: 3;
        justify-content: flex-start;
    }

    &__bouton {
        @include bouton.retour;
    }
}