@use "../utils/var";
@use "../components/logo";
@use "../components/bouton";
@use "../components/image";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        @include logo.standard;
    }

    &__bouton {
        @include bouton.retour;
    }

    &__image {
        @include image.bandeau;
    }
}