@use "../utils/variables" as var;
@use "../utils/mixins";
@use "../components/boutons";

.menu {
    &__bouton {
        @include boutons.degrade;
        @include boutons.principaux;
    }

    &__image {
        position: relative;
        object-fit: cover;
        padding: 0;
        margin-bottom: -3rem;
        // max-width: 100%;
        max-height: 50vh;
    }

    &__titre-principal {
        display: flex;
        justify-content: space-around;
        padding: 2rem .5rem;
        margin: 0;
        position: sticky;
        top: 0;
        border-radius: 2rem 2rem 0 0;
    }

    &__entree, &__principal, &__dessert {
        text-align: start;
        top: -5rem;
    }

    &__titre > .souligne {
        text-decoration: underline;
        text-decoration-color: map-get($map: var.$colors, $key: "tertiary");
        text-underline-offset: 10px;
    }

    &__liste {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
    }

    &__item {
        padding: 1rem;
        margin: 1rem;
    }
}