@use "../utils/variables" as var;
@use "../utils/mixins";
@use "../utils/keyframes";

// .plat {
//     display: flex;
//     background-color: map-get($map: var.$colors, $key: "standard");
//     width: 90%;
//     border-radius: 2rem;
//     box-shadow: 0 0 .5rem map-get($map: var.$colors, $key: "grey-shade");
//     min-width: 100px;

//     &:hover .plat__validation {
//         width: 50px;
//         transform: rotate(360deg);
//     }

//     &__lien {
//         display: flex;
//         flex-flow: row nowrap;
//         width: 100%;
//     }

//     &__wrapper {
//         display: flex;
//         flex-flow: column nowrap;
//         width: 100%;
//     }

//     &__titre {
//         display: flex;
//         text-overflow: ellipsis;
//     }

//     &__description {
//         display: flex;
//         justify-content: space-between;
//         text-overflow: ellipsis;
//     }

//     &__prix {
//         font-weight: bolder;
//     }

//     &__validation {
//         display: flex;
//         height: 100%;
//         min-height: 100%;
//         align-items: center;
//         justify-content: center;
//         width: 0;
//         overflow: hidden;
//         background-color: map-get($map: var.$colors, $key: "tertiary");
//         transition: width 1s ease-in-out;
//     }
// }

// &__titre {
//     align-self: flex-start;
//     margin: 0;
//     padding: 0;
//     text-overflow: ellipsis;
//     min-width: 0;
// }

// &__description {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 0;
//     text-overflow: ellipsis;
//     min-width: 0;
//     max-height: 2rem;
//     text-align: left;
//     vertical-align: bottom;
// }

// &__validation {
//     display: none;
//     width: 50px;
//     background-color: lawngreen;
//     transition: all 1s;
//     &:hover {
//         transform: scaleX();
//     }
// }
// &__validation {
//     display: inline-block;
//     width: 0;
//     background-color: map-get($map: var.$colors, $key: "tertiary");
//     &:hover, &:active {
//         width: 50px;
//     }
// }

// &:hover, &:active {
//     @at-root {
//         &__validation {
//             width: 150px;
//         }
//     }

// &__titre, &__description {
//     width: 150px;
// }
// }

.plat {
  background-color: #ddd;
  border-radius: 2rem;

  // L'ancre est le conteneur des elements
  // du plat
  &__lien {
    display: flex;
  }

  &__wrapper {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    // width: 250px;
    // height: 68px;
    border-radius: 10px;
    overflow: hidden;
    // margin-top: 20px;
  }

  &__prix {
    display: flex;
    align-items: flex-end;
    padding: 0 10px 10px 0;
  }

  //   &__validation {
  //     width: 0;
  //     transition: width 800ms linear;
  //     > .fa-check-circle {
  //       transition: transform 700ms linear;
  //     }
  //   }

  &__titre,
  &__description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__validation {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1px;
    opacity: 0;
    overflow: hidden;
    background-color: map-get($map: var.$colors, $key: "tertiary");
    color: green;
    // transition: opacity 0s, transform 700ms;
    transition: width 0.7s linear;
  }

  .fa-check-circle {
    padding: 5px;
    border-radius: 50%;
    background-color: map-get(var.$colors, "tertiary");
    //   color: map-get(var.$colors, "standard");
  }

  // &__lien:hover > .plat__validation {
  //   width: 50px;
  //   & > .fa-check-circle {
  //     transform: rotate(360deg);
  //   }
  // }

  &__lien:hover &__validation {
    width: 50px;
    // opacity: 1;
    // transform-origin: 100%;
    // transform: scaleX(50);
    // .fa-check-circle {
    //     transform: rotate(360deg);
    // }
  }
}
