@use "../utils/var";

@mixin standard {
    cursor: pointer;
    appearance: button;
    color: map-get($map: var.$colors, $key: "standard");
    font-weight: map-get($map: var.$font-weight, $key: "medium");
    min-width: 200px;
    width: 300px;
    padding: var.$padding;
    border-radius: var.$border-radius;
    box-shadow: map-get(var.$box-shadow, "grey-shade");
    background: linear-gradient(to left bottom, map-get(var.$colors, "primary"), map-get(var.$colors, "secondary")); 
}

@mixin retour {
    -moz-appearance: button-arrow-previous;
    -webkit-appearance: button-arrow-previous;
    appearance: button-arrow-previous;
    position: relative;
    top: -2.5rem;
    left: 1rem;
}