@use "../utils/var";

@mixin standard {
    color: map-get($map: var.$colors, $key: "standard");
    font-weight: map-get($map: var.$font-weight, $key: "medium");
    cursor: inherit;
    min-width: 200px;
    padding: var.$padding;
    border-radius: var.$border-radius;
    box-shadow: map-get(var.$box-shadow, "grey-shade");
    background: linear-gradient(to left bottom, map-get(var.$colors, "primary"), map-get(var.$colors, "secondary")); 
}

@mixin retour {
    position: relative;
    top: -2.5rem;
}