@use "../utils/var";
@use "./favori";
@use "./texte";
@use "./item";

.carte {
    flex: 1;
    margin-top: -2rem;
    @media screen and (min-width: 500px) {
        width: 250px;
    }

    &__image {
        height: 200px;
    }

    &__description {
        padding: var.$padding;
    }

    &__titre {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__favori {
        position: relative;
        top: 1.5rem;
        &:hover {
          @include favori.standard;
        }
    }
}