@use "../utils/variables" as var;
@use "../utils/mixins";


// Cartes au milieu de la page
@include mixins.set-property("carte") {
    align-items: center;
    flex-flow: column nowrap;
    text-align: start;
    height: 300px;
    // box-sizing: border-box;
    // position: relative;
    // top: 0;
    &__wrapper {
        // position: relative;
        display: flex;
        flex-flow: column nowrap;
        // flex: 1 0 0;
        width: inherit;
        border-radius: 2rem;
        background-color: map-get(var.$colors, "standard");
        // margin: 1rem 0;
        box-shadow: 0 0 1rem map-get($map: var.$colors, $key: "grey-shade");
    }

    &__titre {
        flex-direction: row;
        justify-content: space-between;
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 1rem;

        & > * {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
        }
    }
}

.carte {
    &::before {
        @include mixins.nouveaute(" ");
    }

    &:nth-child(1), &:nth-child(2) {
        &::before {
            @include mixins.nouveaute("Nouveau");
            background-color: map-get($map: var.$colors, $key: "tertiary");
        }
    }
}