@use "../utils/variables" as var;
@use "../utils/mixins";

@include mixins.set-property("image") {
    display: block;
    padding: none;
    border-radius: map-get($map: var.$border-radius, $key: "standard");
    object-fit: cover;
    max-width: 100%;
}