@use "../utils/variables" as var;
@use "../utils/mixins";

@include mixins.set-property("image") {
    display: block;
    padding: none;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
    max-width: 100%;
}