@use "../utils/variables" as var;
@use "../utils/mixins";

@include mixins.set-property("liste") {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // justify-content: space-around;
    text-align: left;
    padding: 0 0 1rem 0;
    @media screen and (min-width: 800px) {
        flex-flow: row wrap;
    }
};