@use "../utils/var";

.localisation {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, map-get(var.$colors, "grey-shade") 1%, map-get(var.$colors, "light-black") 5%);
}
