@use "../utils/variables" as var;
@use "../utils/mixins";

@include mixins.set-property("localisation") {
    background-color: map-get($map: var.$colors, $key: "light-black");
    padding: map-get($map: var.$padding, $key: "localisation");
    border-style: ridge none none none;
    @include mixins.flex-elem($flex-flow: row nowrap);
}