@use "../utils/variables" as var;
@use "../utils/mixins";
@use "../components/boutons";

.menu {
    &__bouton {
        @include boutons.degrade;
        @include boutons.principaux;
    }

    &__image {
        padding: 0;
    }

    &__titre-principal {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        position: relative;
        top: -3rem;
        border-radius: map-get($map: var.$border-radius, $key: "standard");
    }

    &__entree, &__principal, &__dessert {
        text-align: start;
    }

    &__titre > .souligne {
        text-decoration: underline;
        text-decoration-color: map-get($map: var.$colors, $key: "tertiary");
        text-underline-offset: 10px;
    }

    &__liste {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
    }

    &__item {
        padding: 1rem;
        margin: 1rem;
    }
}