@use "../utils/var";
@use "../components/icone";
@use "../components/titre";
@use "../components/liste";
@use "../components/item";
@use "../components/puce";

.presentation {
    background-color: map-get($map: var.$colors, $key: "standard");
    display: flex;
    flex-flow: column nowrap;
    padding: var.$padding 0;
    
    &__liste {
        @include liste.standard;
        padding: var.$padding;
    }

    &__item {
        @include item.standard;
        display: flex;
        align-items: center;
        background-color: map-get($map: var.$colors, $key: "light-grey");
        padding: 2rem var.$padding;
        margin: 1rem;
        min-width: max-content;
        &:hover {
            background: #f5edff;
            .presentation__icone {
                @include icone.switch-color("primary");
            }
        }
    }

    &__puce {
        @include puce.standard("primary");
    }

    &__titre {
        @include titre.standard;
    }

    &__icone {
        display: inline-block;
        position: relative;
        left: -1rem;
        color: map-get($map: var.$colors, $key: "grey-shade");
    }

    &__texte {
        display: inline-block;
        position: relative;
        left: -1rem;
    }
};