.restaurants__liste {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    .carte {
        display: flex;
        flex: 50%;
    }

    @media screen and (min-width: 800px) {
        flex-flow: row wrap;
    }
}