@use "../components/titre";
@use "../components/liste";
@use "../components/item";
@use "../utils/var";

.restaurants {
  padding: var.$padding 0;
  &__titre {
    @include titre.standard;
  }

  &__liste {
    @include liste.standard;
    padding: var.$padding;
  }

  &__item {
    @include item.standard;
    overflow: hidden;
    margin: 1rem;
  }
}