@use "../utils/var";
@use "../components/liste";
@use "../components/item";

.sitemap {
    padding: var.$padding 0;

    &__item {
        flex: auto;
        padding: .5rem;
    }

    &__icone {
        padding: 0 var.$padding 0 0;
    }

    &__liste {
        @include liste.standard;
    }
}

// @mixin standard {
//     padding: var.$padding;
// }