@use "../utils/variables" as var;
@use "../utils/mixins";
@use "../utils/keyframes" as kf;

$degrade: -webkit-linear-gradient(bottom left, map-get(var.$colors, "secondary"), map-get(var.$colors, "primary"));

@mixin degrade {
        background: $degrade;
        color: map-get(var.$colors, "standard");
};

@mixin principaux {
    min-width: 240px;
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 5px 5px 2px map-get($map: var.$colors, $key: "grey-shade");
};

.carte__favori {
    &:hover {
        &::before {
            animation: favoris forwards 1s;
        }
    }
}

@include kf.favoris($degrade);