@use "../utils/keyframes";
@use "../utils/variables" as var;

$duree: random(3) + s;

.loader {
    // display: block;
    display: none; // DEV
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: black;
    opacity: 0;
    -webkit-animation: show $duree linear, hide $duree linear both;
    animation: show $duree linear, hide $duree linear both;

    &__spinner {
        display: inline-block;
        box-sizing: border-box;
        z-index: 0;
        content: "";
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        border: 3px solid #f3f3f3;
        border-top: 3px solid map-get($map: var.$colors, $key: "primary");
        border-radius: 50%;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 500ms linear infinite, switch-colors $duree linear, hide $duree linear both;
        animation: spin 500ms linear infinite, switch-colors $duree linear, hide $duree linear both;
    }
}